body{
    font-family: 'PT Sans';
}


.row{
	align: center;
}


.axis text {
    font-size: 11px;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.selectWidth {
    width: auto;
    //margin:10px;
}

.controls {
    margin-right: 15px;
}

.verticalEnergyBar {
    fill: #4791DA;
    opacity: 0.5;
}

.trendline {
    stroke: gray;
    stroke-width: 2px;
    opacity: 0.7;
}

.dot {
    fill: #4791DA;
    opacity: 0.7;

}

.subtitle {
    font-size: 15px;
    font-weight: bold;
}

.weatherLine {
    stroke: #160dff;
    fill: none;

}

.weatherBar {
    fill: #ff720c;
    opacity: 1;

}

.weatherDot {
    fill: #23803f;
    opacity: 1;

}

.R2 {
    font-weight: bold;
}

.col-lg-4 {

    height: 395px;
    overflow: scroll;
    overflow-x:hidden;
    overflow-y:visible;
}



div.tooltip_svg {
    position: absolute;
    text-align: left;
    width: 240px;
    height: 120px;
    padding: 2px;
    //font: 11px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip_svg_weather {
    position: absolute;
    text-align: left;
    width: 60px;
    height: 20px;
    padding: 2px;
    //font: 11px sans-serif;
    font-weight:900;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip_svg_exploreVis {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 30px;
    padding: 2px;
    //font: 11px sans-serif;
    font-weight:900;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
}

#mapVis { height: 400px; margin: 0px;  padding: 100px;}



.gray-tooltip + .tooltip > .tooltip-inner {background-color: rgba(14, 14, 14, 0.8);}
.gray-tooltip + .tooltip > .tooltip-arrow {border-top-color:rgba(14, 14, 14, 0.8);}

.gray-tooltip-right + .tooltip > .tooltip-inner {background-color: rgba(14, 14, 14, 0.8);}
.gray-tooltip-right + .tooltip > .tooltip-arrow {border-right-color:rgba(14, 14, 14, 0.8);}

.gray-tooltip-left + .tooltip > .tooltip-inner {background-color: rgba(14, 14, 14, 0.8);}
.gray-tooltip-left + .tooltip > .tooltip-arrow {border-left-color:rgba(14, 14, 14, 0.8);}


